<html>
  <body>
    <%- include('partials/_header'); -%>
    <%- include('partials/_loader'); -%>
    <div class="container" style="min-height: 78vh; text-align: center;">
      <div class="row row-cols-1 row-cols-md-2" style="margin-top: 100px;">
      <h4>
        24 saat içinde paylaşılan kod sayısı:<br><%= code.filter(x => (Date.now() - x.date) <= 1000 * 60 * 60 * 24).length %>
      </h4>
      <h4>
        7 gün içinde paylaşılan kod sayısı:<br><%= code.filter(x => (Date.now() - x.date) <= 1000 * 60 * 60 * 24 * 7).length %>
      </h4>
      </div>
      <table class="table table-hover table-dark" style="margin-top: 40px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">İsim</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Paylaşan</th>
            <th scope="col">Sil</th>
          </tr>
        </thead>
        <tbody>
          <% code.forEach((x, i) => { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= x.name %></td>
            <td><%= x.desc %></td>
            <td><%= x.sharers[0] %></td>
            <td><a href="/delete/<%= x.rank %>/<%= x.id %>" class="btn btn-outline-danger">Kodu sil</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <script>
      if (localStorage.getItem("mode") != "") {
        document.body.classList.add(localStorage.getItem("mode"));
        document.getElementById("mode-btn").checked = true;
      }
    </script>
    <script src="/index.js"></script>
    <%- include('partials/_footer'); -%>
  </body>
</html>